.your-account {
  height: 400px;
  left: 0;
  right: 0;
  background-color: #e86c00;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  text-align: center;
  margin-top: 100px;
}

.your-account h2 {
  position: relative;
  bottom: 30px;
  font-family: 'Source Sans Pro';
}