nav {
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--primary-orange);
  color: var(--dark-brown);
  padding: 1.5em;
}
#tweeter {
  font-family: "Bungee", cursive, sans-serif;
}

#bird {
  height: 30px;
  width: 30px;
}

nav i {
  background-color: var(--primary-orange);
  border: none;
}
