nav {
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}
 nav > span {
   font-family: 'Bungee';
 }

 @media screen and (max-width : 768px) {
    nav {
        background-color: #e86c00;
      }
  
}