.tweet {
  border: 2px solid var(--dark-brown);
  border-radius: 10px;
  padding: 1em;
  margin: 1em 0em;
  transition: all 0.09s ease-in-out;
}

.tweet:hover {
  box-shadow: 3.5px 3.5px rgb(196, 193, 193);
  transform: translateY(-5px);
}

/* Top part of each tweet */
.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0em 0.3em;
}

.wrapper {
  width: 250px;
  display: flex;
  align-items: center;
}

.wrapper img {
  margin-right: 0.5em;
}

.handle {
  visibility: hidden;
}

.tweet:hover .handle {
  visibility: visible;
  color: var(--light-blue);
  position: relative;
  right: 0;
}

.content {
  padding: 1.5em;
  padding-left: 1em;
  border-bottom: 4px solid #545149;
  overflow-wrap: break-word;
}

.tweet footer {
  padding: 0.5em 0em;
  margin: 0em 0.3em;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet .time-ago {
  color: var(--light-blue);
}
